*{
    margin: 0;
    padding: 0;

}

@font-face{
    font-family: SFLight;
    src:url(SFFonts/SF-Pro-Display-Light.otf);
}

@font-face{
    font-family:SFMedium;
    src:url(SFFonts/SF-Pro-Display-Medium.otf)
}

@font-face{
    font-family:SFThin;
    src:url(SFFonts/SF-Pro-Display-Thin.otf)
}

h1{
    font-family: SFThin;
    letter-spacing: 1px;
    font-size: 12px;
    text-align: center;
    position: relative;
    top: 97px;
}

h2{
    font-family: SFLight;
    letter-spacing: 0.3px;
    font-size: 24px;
    text-align: center;
    position: relative;
    top: 105px;

}

h3{
    background-image:linear-gradient(45deg, #666256, #959185);
    background-clip: text;
    color: transparent;
    font-family: SFMedium;
    letter-spacing: 1.5px;
    font-size: 5.7vh;
    text-align: center;
    position: relative;
    top: 110px; 
}

h4{
    font-family: SFLight;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 128px;

}

button{
    font-size: 17px;
    background-color: #0071E3; 
    color: white; 
    border-radius: 10vh;
}


.topbar{
    width: 100%;
    height: 44px;
    position: relative;
    overflow: hidden;
    background-color: #F2F2F2;  
}
.titanium{
    width: 100%;
    height: 86vh ;
    position: relative;
    overflow: hidden;
    background-color: black;
    top: 12vh;
}

.iphone_titanium{
    width: 81%;
    position: relative;
    top: 26vh;
    left: 36vh;
}

.buy_titanium{
    font-family: SFLight;
    font-size: 17px;
    outline: none;
    position: relative;
    text-align: center;
    padding: 7px 15px;
    bottom: 22vh;
    left: 93.5vh;
    outline: none;
    cursor: pointer;
    border: none;

}

.newphoria{
    width: 100%;
    height: 84vh;
    position: relative;
    overflow: hidden;
    background-color: white;
    top: 12vh;
}
.barrier{
    width: 100%;
    height: 16px;
    position: relative;
    overflow: hidden;
    background-color: #F2F2F2;
    top: 12vh;
}