*{
    margin: 0;
    padding: 0;

}

@font-face{
    font-family: SFLight;
    src:url(SFFonts/SF-Pro-Display-Light.otf);
}

@font-face{
    font-family:SFMedium;
    src:url(SFFonts/SF-Pro-Display-Medium.otf)
}

@font-face{
    font-family:SFThin;
    src:url(SFFonts/SF-Pro-Display-Thin.otf)
}

@font-face{
    font-family:SFReg;
    src:url(SFFonts/SF-Pro-Display-Regular.otf)
}

.store{
    font-family: SFLight;
    font-size: 15px;
    color: #616161;
    cursor:pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    left: 10vh;
    bottom: 10px;
}

.mac{
    font-family: SFLight;
    font-size: 15px;
    color: #616161;
    cursor:pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.ipad{
    font-family: SFLight;
    font-size: 15px;
    color: #616161;
    cursor:pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.iphone{
    font-family: SFLight;
    font-size: 15px;
    color: #616161;
    cursor:pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.watch{
    font-family: SFLight;
    font-size: 15px;
    color: #616161;
    cursor:pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.airpods{
    font-family: SFLight;
    font-size: 15px;
    color: #616161;
    cursor:pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.tvHome{
    font-family: SFLight;
    font-size: 15px;
    color: #616161;
    cursor:pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.entertain{
    font-family: SFLight;
    font-size: 15px;
    color: #616161;
    cursor:pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.accessories{
    font-family: SFLight;
    font-size: 15px;
    color: #616161;
    cursor:pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.support{
    font-family: SFLight;
    font-size: 15px;
    color: #616161;
    cursor:pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

